body{
    background-color: black;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section1{
    background-image: url(../picture/auto\ car.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 15vw;
    height: 55vw;
    
}
.header{
    display: flex;
    justify-content: space-around;
}
.header img{
    width: 9vw;
    margin-top: 3vw;
}
  
.navbar a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.navbar{
    margin-top:-15vw;
    margin-bottom: 13vw;
    padding-top: 2vw;
  
}
.logo{
    margin-top: -18vw;
    margin-left: -10vw;
}
.info{
    color: white;
    margin-left: -44vw;
    padding-top: 2vw;
    font-family: 'Raleway', sans-serif;
    
    }

.info h3{
    font-size: 1.8vw;
    padding-bottom: 2vw;
    text-shadow: 2px 2px 5px black;
}

.info h1{
    font-size: 3vw;
    text-shadow: 5px 5px 5px black;
}

.ser{
 color: white;
}

.info input{
    padding: 0.5vw;
    background-color: #d73716;
    color: white;
    border: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    width: 10vw;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.2);
}

.info input:hover {
    background-color: rgba(255, 64, 0, 0.437)
}
/* ......................................................mediaqueries..................................... */
@media  screen and (max-width:500px){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .section1{
        background-image: url(../picture/auto\ car.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 15vw;
        height: 55vw;
        
    }
    .header{
        display: flex;
        justify-content: space-around;
    }
    .header img{
        width: 9vw;
        margin-top: 3vw;
    }
      
    .navbar a{
        text-decoration: none;
        color: white;
        padding: 1vw;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5vw; 
    }
    .navbar{
        margin-top:-15vw;
        margin-bottom: 13vw;
        padding-top: 2vw;
      
    }
    .logo{
        margin-top: -18vw;
        margin-left: -10vw;
    }
    .info{
        color: white;
        margin-left: -44vw;
        padding-top: 2vw;
        font-family: 'Raleway', sans-serif;
        
        }
    
    .info h1{
        font-size: 2vw;
        padding-bottom: 1vw;
    }
    .info h2{
        font-size: 3.5vw;
        padding-bottom: 1vw;
    }
    .info h3{
    
        font-size: 1.8vw;
        padding-bottom: 2vw;
    }
    .info input{
        padding: 0.5vw;
        background-color: #d73716;
        color: white;
        border: none;
        border-radius: 1vw;
        font-size: 1.5vw;
        width: 10vw;
        font-family: 'Raleway', sans-serif;
        box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.2);
    }
}
 
/* ......................................................services.................................................... */



.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 0;
    margin-top: 2vw;
  }
  .title2 h2{
    text-align: center;
    margin-bottom: 2vw;
    font-size: 2vw;
    margin-top: 3vw;
    font-family: 'Raleway', sans-serif;

}
.title2 hr{
   margin-left: 47vw;
   margin-top: -1.5vw;
   margin-bottom: 4vw;
}
  .cards h3{
    font-family: 'Antonio', sans-serif;
    letter-spacing: 1px;
  }
 .cards img{
    width: 17vw;
    height: 10vw;
 }
 .card1{
    display: flex;
    background-image: url(../picture/red.jpg) ;
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    position: relative;
 }
 .card1 img{
    margin-top: 4vw;
 }
 .card2{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    position: relative;
 }
 .card2 img{
    margin-top: 4vw;
 }
 .card3{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    position: relative;

 }
.card3 img{
    margin-top: 4vw;
 }
 .card4{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card4 img{
    margin-top: 4vw;
 }
.card5{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card5 img{
    margin-top: 4vw;
}

 .card6{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card6 img{
    margin-top: 4vw;
}

.card7{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;
 }
 .card7 img{
    margin-top: 4vw;
}

.card8{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card8 img{
    margin-top: 4vw;
}

.card9{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card9 img{
    margin-top: 4vw;
}

.card10{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card10 img{
    margin-top: 4vw;
}

.card11{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card11 img{
    margin-top: 4vw;
}

.card12{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card12 img{
    margin-top: 4vw;
}
/* ....................................mediaqueries............................................................ */
@media  screen and (max-width:500px){


.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 3vw;
    margin-top: 3vw;
  }
  .cards h3{
    font-family: 'Antonio', sans-serif;
    font-family: 1.5vw;
    letter-spacing: 2px;
  }
  .title2 h2{
    text-align: center;
    margin-bottom: 2vw;
    font-size: 2vw;
    margin-top: 3vw;
    font-family: 'Raleway', sans-serif;

}
.title2 hr{
   margin-left: 47vw;
   margin-top: -1.5vw;
   margin-bottom: 4vw;
}
 .cards img{
    width: 70px;
    height: 50px;
 }
 .card1{
    display: flex;
    background-image: url(../picture/red.jpg) ;
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
 .card1 img{
    margin-top: 4vw;
 }
 .card2{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
 .card2 img{
    margin-top: 4vw;
 }
 .card3{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card3 img{
    margin-top: 4vw;
 }
 .card4{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card4 img{
    margin-top: 4vw;
 }
.card5{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card5 img{
    margin-top: 4vw;
 }
 .card6{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card6 img{
    margin-top: 4vw;
}
.card7{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
 .card7 img{
    margin-top: 4vw;
}
.card8{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card8 img{
    margin-top: 4vw;
}
.card9{
    display: flex;
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card9 img{
    margin-top: 4vw;
}.card10{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card10 img{
    margin-top: 4vw;
}.card11{
    background-image: url(../picture/red.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card11 img{
    margin-top: 4vw;
}.card12{
    display: flex;
    background-image: url(../picture/black.jpg);
    width: 25%;
    height: 17vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 1vw;

 }
.card12 img{
    margin-top: 4vw;

}
}
/* ....................................Top rated................................................................ */
.container{
    background-color: #090909;
    margin-top: 15px;
}

.special{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.container h2{
    text-align: center;
    margin-bottom: 2vw;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 50px;
}
.container hr{
   margin-left: 47vw;
   margin-top: -1.5vw;
   margin-bottom: 2vw;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide_track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 10s linear infinite;
}

.slide_track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: transform 0.5s;
}

img:hover{
    transform: translateZ(20px);
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255 , 255 , 255 , 1) 0%,
    rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* ................................................mediaqueries................................................. */
@media  screen and (max-width:500px){
    .special{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .rated{
        width: 25%;
        margin-left: 5vw;
        padding-bottom: 2vw;
        font-family: 'Antonio', sans-serif;
    }
    .container h4{
        font-size: 1vw;
        font-family: 'Raleway', sans-serif;
    
    }
    .container h2{
        text-align: center;
        margin-bottom: 2vw;
        font-size: 2vw;
        font-family: 'Raleway', sans-serif;
    
    }
    .container hr{
       margin-left: 47vw;
       margin-top: -1.5vw;
       margin-bottom: 2vw;
    }
   
    img {
        width: 50%;
    }
}

/*-----------------------------------------category-------------------------------------------*/
.brand{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.2vw;
    background-color: grey;
    margin: 2vw 3vw;
    width: 20vw;
    height: 20vw;
}

.brand img{
    width: 20vw;
    height: 17vw;
    box-shadow: 0 0.3vw 0.7vw rgba(0, 0, 0, 0.2);
    border-radius: 1.2vw;
    border: 0.1vw solid grey;
    background-color: seashell;
    padding: 10px;
    transition: 0.4s;
}

.brand img:hover{
    transform: rotateX(30deg);
}

.brands{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Antonio', sans-serif;
}

.brand h1{
    background-color: gray;
    color: rgba(102, 255, 0, 0.618);
    text-align: center;
    font-size: 3vw;
}

.categories h2{
    color: white;
    font-size: 2vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 2vw 1vw;


}

.categories hr{
    margin-left: 47vw;
    margin-top: -1.5vw;
    margin-bottom: 2vw;
 }

/* .................................................mediaqueries................................................. */
@media  screen and (max-width:500px){
.categories{
    margin-top: -2vw;
    margin-bottom: 3vw;
}
s
    .categories h2{
    color: black;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
    font-family: 'Raleway', sans-serif;

}
.brands{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'Antonio', sans-serif;
}
.brand img{
    height: 11vw;
    box-shadow: 0 0.3vw 0.7vw rgba(0, 0, 0, 0.2);
    padding: 2vw;
    width: 20vw;
    height: 18vw;
    border-radius: 1.2vw;
    border: 0.1vw solid grey;

}
.brand{
    display: flex;
    flex-direction: column;
    width: 20%;

}
}

/* .................................................contact........................................................ */
.about{
    background-color: #d73716;
    color: white;
    text-align: center;
    padding-top: 5vw;
    font-family: 'Antonio', sans-serif;
}


.title3 h2{
    text-align: center;
    margin-bottom: 4vw;
    font-size: 2vw;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.title3 hr{
   margin-left: 47vw;
   margin-top: -1.5vw;
   margin-bottom: 4vw;
}
.call{
    display: flex;
    margin-left: 37vw;
}

.call h2{
    padding-left: 1vw;
    font-size: 3vw;
}
.about h3{
    font-size: 3vw;
    padding-bottom: 7vw;
}
.about h4{
    font-size: 1.5vw;
    padding-bottom: 1vw;
}
/* .................................................mediaqueries................................................ */
     @media  screen and (max-width:500px){
        .about{
            background-color: #d73716;
            color: white;
            text-align: center;
            padding-top: 5vw;
            font-family: 'Antonio', sans-serif;
        }
        .call{
            display: flex;
            margin-left: 37vw;
          
            
        }
        .call h2{
            padding-left: 1vw;
            font-size: 3vw;
        }
        .about h3{
            font-size: 3vw;
            padding-bottom: 7vw;
        }
        .about h4{
            font-size: 1.5vw;
            padding-bottom: 1vw;
        }
     }
/* .................................................about us....................................................... */

.title4 h2{
    text-align: center;
    margin-bottom: 2vw;
    font-size: 2vw;
    margin-top: 3vw;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.title4 hr{
   margin-left: 47vw;
   margin-top: -1.5vw;
   margin-bottom: 4vw;
}



.images{
    margin-top: 8vw;
    width: 35%;
    height: 450px;
    float: left;
}

.passion {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url("../picture/red.jpg") no-repeat ;
    background-size: cover;
    color: white;
    padding-left: 1vw;
    padding-bottom: 2vw;
    margin-bottom: 3vw;
}

.passion h4{
    width: 50vw;
    font-size: 2vw; 
    margin: 7vw 5vw;
    font-family: 'Raleway', sans-serif; 
    letter-spacing: 2px;
    word-spacing: 3px;
}

.passion h1 {
    font-size: 2vw;
}

.passion strong {
    font-size: 3vw;
}

/* ...........................................mediaqueries.................................................... */
    @media  screen and (max-width:500px){
       
        .images{
            margin-top: 40px;
            width: 35%;
            height: 190px;
            float: left;
        }

        #images1 {
            margin-top: 43px;
            height: 170px;
        }
        
        .passion {
            margin-top: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background: url("../picture/red.jpg") no-repeat ;
            background-size: cover;
            color: white;
            padding-left: 1vw;
            padding-bottom: 2vw;
            margin-bottom: 3vw;
        }
        
        .passion h4{
            width: 50vw;
            font-size: 2vw; 
            margin: 7vw 5px;
            font-family: 'Raleway', sans-serif; 
            letter-spacing: 2px;
            word-spacing: 3px;
        }
        
        .passion h1 {
            font-size: 15px;
        }
        
        .passion strong {
            font-size: 3vw;
        }
       
    }
/* ...........................................footer............................................................... */
footer{
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.social{
  margin-bottom: 1vw;
  padding-left: 1vw;
  margin-left: 43vw;
}
.copy{
  font-family: 'Antonio', sans-serif;
  text-align: center;
}
/* ...........................................mediaqueries................................................... */
@media  screen and (max-width:500px){
    footer{
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .social{
      margin-bottom: 1vw;
      padding-left: 1vw;
      margin-left: 37vw;
    }
    .copy{
      font-family: 'Antonio', sans-serif;
      text-align: center;
      font-size: 1.7vw;
    }

}
